<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Magento CardGatePlus payment extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category    Mage
 * @package     Cardgate_Cgp
 * @author      Paul Saparov, <support@cardgate.com>
 * @copyright   Copyright (c) 2011 CardGatePlus B.V. (http://www.cardgateplus.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Cardgate_Cgp>
            <version>1.0.29</version>
        </Cardgate_Cgp>
    </modules>
    
    <global>
        <blocks>
            <cgp>
                <class>Cardgate_Cgp_Block</class>
            </cgp>
        </blocks>
        <helpers>
            <cgp>
                <class>Cardgate_Cgp_Helper</class>
            </cgp>
        </helpers>
        <models>
            <cgp>
                <class>Cardgate_Cgp_Model</class>
            </cgp>
        </models>        
        <resources>
            <cgp_setup>
                <setup>
                    <module>Cardgate_Cgp</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cgp_setup>
            <cgp_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cgp_read>
            <cgp_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cgp_write>
        </resources>
        <events>
            <sales_quote_collect_totals_before>
                <observers>
                    <cgp>
                        <type>singleton</type>
                        <class>cgp/observer</class>
                        <method>salesQuoteCollectTotalsBefore</method>
                    </cgp>
                </observers>
            </sales_quote_collect_totals_before>
        </events>
    </global>
    
    <adminhtml>
        <translate>
            <modules>
                <Cardgate_Cgp>
                    <files>
                        <default>Cardgate_Cgp.csv</default>
                    </files>
                </Cardgate_Cgp>
            </modules>
        </translate>
        <layout>
            <updates>
                <cgp>
                    <file>cardgate_cgp.xml</file>
                </cgp>
            </updates>
        </layout>      
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <cgp>
                                            <title>CardGate+ Settings</title>
                                        </cgp>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    
    <frontend>
        <routers>
            <cgp>
                <use>standard</use>
                <args>
                    <module>Cardgate_Cgp</module>
                    <frontName>cgp</frontName>
                </args>
            </cgp>
        </routers>        
        <translate>
            <modules>
                <Cardgate_Cgp>
                    <files>
                        <default>Cardgate_Cgp.csv</default>
                    </files>
                </Cardgate_Cgp>
            </modules>
        </translate>
    </frontend>

    <default>
        <payment>
            <cgp_visa>
                <active>1</active>
                <model>cgp/gateway_visa</model>
                <title>CGP Visa</title>
            </cgp_visa>
            <cgp_mastercard>
                <active>1</active>
                <model>cgp/gateway_mastercard</model>
                <title>CGP MasterCard</title>
            </cgp_mastercard>
            <cgp_americanexpress>
                <active>1</active>
                <model>cgp/gateway_americanexpress</model>
                <title>CGP AmericanExpress</title>
            </cgp_americanexpress>
            <cgp_maestro>
                <active>1</active>
                <model>cgp/gateway_maestro</model>
                <title>CGP Maestro</title>
            </cgp_maestro>
            <cgp_vpay>
                <active>1</active>
                <model>cgp/gateway_vpay</model>
                <title>CGP V-Pay</title>
            </cgp_vpay>            
            <cgp_sofortbanking>
                <active>1</active>
                <model>cgp/gateway_sofortbanking</model>
                <title>CGP SofortBanking</title>
            </cgp_sofortbanking>            
            <cgp_ideal>
                <active>1</active>
                <model>cgp/gateway_ideal</model>
                <title>CGP iDEAL</title>
            </cgp_ideal>
            <cgp_mistercash>
                <active>1</active>
                <model>cgp/gateway_mistercash</model>
                <title>CGP MisterCash</title>
            </cgp_mistercash>
            <cgp_paypal>
                <active>1</active>
                <model>cgp/gateway_paypal</model>
                <title>CGP PayPal</title>
            </cgp_paypal>
            <cgp_webmoney>
                <active>1</active>
                <model>cgp/gateway_webmoney</model>
                <title>CGP Webmoney</title>
            </cgp_webmoney>
            <cgp_klarna>
                <active>1</active>
                <model>cgp/gateway_klarna</model>
                <title>CGP KlarnaInvoice</title>
            </cgp_klarna>
            <cgp_klarnaaccount>
                <active>1</active>
                <model>cgp/gateway_klarnaaccount</model>
                <title>CGP KlarnaAccount</title>
            </cgp_klarnaaccount>
            <cgp_giropay>
                <active>1</active>
                <model>cgp/gateway_giropay</model>
                <title>CGP Giropay</title>
            </cgp_giropay>
            <cgp_banktransfer>
                <active>1</active>
                <model>cgp/gateway_banktransfer</model>
                <title>CGP Bank Transfer</title>
            </cgp_banktransfer>
            <cgp_directdebit>
                <active>1</active>
                <model>cgp/gateway_directdebit</model>
                <title>CGP Direct Debit</title>
            </cgp_directdebit>
            <cgp_przelewy24>
                <active>1</active>
                <model>cgp/gateway_przelewy24</model>
                <title>CGP Przelewy24</title>
            </cgp_przelewy24>                 
        </payment>
        
        <cgp>
            <settings>
                <active>0</active>
                <lang>nl</lang>                
                <initialized_status>pending</initialized_status>                
                <complete_status>processing</complete_status>
                <failed_status>canceled</failed_status>
                <fraud_status>canceled</fraud_status>
                <use_backoffice_urls>0</use_backoffice_urls>
                <autocreate_invoice>1</autocreate_invoice>
                <mail_invoice>1</mail_invoice>
                <notification_email>general</notification_email>
                <event_invoicing_failed>0</event_invoicing_failed>
                <order_description>Order %id%</order_description>
                <test_mode>test</test_mode>
                <debug>1</debug>
            </settings>
            <cgp_visa translate="title" module="cgp">
                <active>0</active>
                <model>cgp/gateway_visa</model>
                <title>Visa</title>
            </cgp_visa>
            <cgp_mastercard translate="title" module="cgp">
                <active>0</active>
                <model>cgp/gateway_mastercard</model>
                <title>MasterCard</title>
            </cgp_mastercard>
            <cgp_americanexpress translate="title" module="cgp">
                <active>0</active>
                <model>cgp/gateway_americanexpress</model>
                <title>AmericanExpress</title>
            </cgp_americanexpress>
            <cgp_maestro translate="title" module="cgp">
                <active>0</active>
                <model>cgp/gateway_maestro</model>
                <title>Maestro</title>
            </cgp_maestro>
            <cgp_vpay translate="title" module="cgp">
                <active>0</active>
                <model>cgp/gateway_vpay</model>
                <title>V-Pay</title>
            </cgp_vpay>
            <cgp_sofortbanking translate="title" module="cgp">
                <active>0</active>
                <model>cgp/gateway_sofortbanking</model>
                <title>SofortBanking</title>
            </cgp_sofortbanking>            
            <cgp_ideal translate="title" module="cgp">
                <active>0</active>
                <model>cgp/gateway_ideal</model>
                <title>iDEAL</title>
            </cgp_ideal>
            <cgp_mistercash translate="title" module="cgp">
                <active>0</active>
                <model>cgp/gateway_mistercash</model>
                <title>MisterCash</title>
            </cgp_mistercash>
            <cgp_paypal translate="title" module="cgp">
                <active>0</active>
                <model>cgp/gateway_paypal</model>
                <title>PayPal</title>
            </cgp_paypal>
            <cgp_webmoney translate="title" module="cgp">
                <active>0</active>
                <model>cgp/gateway_webmoney</model>
                <title>Webmoney</title>
            </cgp_webmoney>
            <cgp_klarna translate="title" module="cgp">
                <active>0</active>
                <model>cgp/gateway_klarna</model>
                <title>Klarna Invoice</title>
            </cgp_klarna>
            <cgp_klarnaaccount translate="title" module="cgp">
                <active>0</active>
                <model>cgp/gateway_klarnaaccount</model>
                <title>Klarna Account</title>
            </cgp_klarnaaccount>
            <cgp_giropay translate="title" module="cgp">
                <active>0</active>
                <model>cgp/gateway_giropay</model>
                <title>Giropay</title>
            </cgp_giropay>
            <cgp_banktransfer translate="title" module="cgp">
                <active>0</active>
                <model>cgp/gateway_banktransfer</model>
                <title>Bank Transfer</title>
            </cgp_banktransfer>
            <cgp_directdebit translate="title" module="cgp">
                <active>0</active>
                <model>cgp/gateway_directdebit</model>
                <title>Direct Debit</title>
            </cgp_directdebit>
            <cgp_przelewy24 translate="title" module="cgp">
                <active>0</active>
                <model>cgp/gateway_przelewy24</model>
                <title>Przelewy24</title>
            </cgp_przelewy24>              
        </cgp>            
    </default>
</config>
